*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/***** LAYOUT *****/

header{
    height: 75px;
    display: flex;
    /* position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white; */
}

.main-container{
    height: calc(100vh - 75px);
    display: flex;
}

.sidebar{
    width: 100px;
    background-image: url(../img\ /sidebar-bg.png);
    background-color: rgb(18, 18, 30);
}

.central-container{
    width: calc(100vw - 100px);
}

.top-central{
    background-color: rgb(8, 129, 194);
}

/***** UTILITY *****/

.color-orange{
    color: orange;
}

/***** ANIMATION *****/

.sidebar li:hover{
    background-color: rgba(245, 245, 220, 0.176);
    cursor: pointer;
}

/***** RESPONSIVE *****/

@media screen and (min-width: 991px) {
    .sidebar{
        width: 200px;
    }
}